@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="font-family:Algerian;">Welcome to my Core Project</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
